<div class="banner-home-client">
  <div class="container">
    <div class="row mb-5">
      <h1 id="h1-banner">Never be alone again when you lose a beloved one</h1>
      <a href="#signup"><button type="button" class="btn btn-secondary btn-lg mt-4" id="client-btn" >Hire a profesional mourner !</button></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-5 mt-20" style="margin-top: -250px">
      <h2 id="h2-banner">Your advantages with Easy Coffin</h2>
      <p id="p-txt">Start planning a successful funeral now and show everyone that your life or the existence of a loved one was cherished by many people.</p>
      <p><a id="client-link" href="#signup"><i class="fas fa-angle-right"></i> Register now</a></p>
    </div>
    <div class="col-7 mt-20" style="margin-top: -325px">
      <div class="row">
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fas fa-user-clock mb-2" style="color: #A06CD5; font-size: 20px"></i>
            <p id="text-card-home">Don't waste any more hours looking after mourners, they are all here</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fab fa-pagelines mb-2" style="color: #A06CD5; font-size: 20px"></i>
            <p id="text-card-home">Have now the serenity to say goodbye in the right conditions</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fas fa-thumbs-up mb-2" style="color: #A06CD5; font-size: 20px"></i>
            <p id="text-card-home">Be sure that your loved ones' funerals are properly organized</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fas fa-sad-cry mb-2" style="color: #A06CD5; font-size: 20px"></i>
            <p id="text-card-home">Have the control over the intensity of the crying of the mourners</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row d-flex flex-row justify-content-center">
    <div class="col-7" style="padding: 20px; margin-top: 30px">
      <div class="slider" id="client-slider" data-slick='{"slidesToShow": 2, "slidesToScroll": 1}'>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #A06CD5;">Register</h2>
            <p class="slider_text">Have the control over the intensity of the crying of the mourners</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #A06CD5;">Search</h2>
            <p class="slider_text">Have the control over the intensity of the crying of the mourners</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1483213097419-365e22f0f258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #A06CD5;">Choose</h2>
            <p class="slider_text">Have the control over the intensity of the crying of the mourners</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #A06CD5;">Get in Touch</h2>
            <p class="slider_text">Have the control over the intensity of the crying of the mourners</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1418489614040-ee0ac582072e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #A06CD5;">Enjoy</h2>
            <p class="slider_text">Have the control over the intensity of the crying of the mourners</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h2 id="h2-banner" style="margin-top: 70px">Using our app is easy as pie</h2>
      <p id="p-txt">The Easy Coffin step-by-step approach allows everyone to better organize the funeral ceremony of their dreams. Our platform puts you in direct contact with reliable service providers to ensure that your event is a great success.</p>
      <p><a id="client-link" href="#signup"><i class="fas fa-angle-right"></i> Register now</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <h2 id="h2-banner" class="mt-5 mb-5">Who are we ?</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #A06CD5">#1</p>
          <p id="count-txt">funeral app</p>
        </div>
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #A06CD5">+15,000</p>
          <p id="count-txt">mourners</p>
        </div>
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #A06CD5">+67,500</p>
          <p id="count-txt">funerals organized</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4" id="signup">
  <div class="row mt-10">
    <div class="col-6 offset-3 mt-10">
      <div class="card mt-5">
      <h2 class="mt-2">Sign up</h2>
      <%= simple_form_for(resource, as: :client, url: registration_path(:client)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :first_name,
                      required: true %>
          <%= f.input :last_name,
                      required: true %>
          <%= f.input :location,
                      required: true %>
          <%= f.input :account_number,
                      required: true %>
          <%= f.input :profile_picture,
                      required: false %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Sign up", class: "btn btn-secondary btn-lg", id: "client-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
