<div class="container">
  <h1 class="mt-3 ml-3" id="h2-banner">Your Client Dashboard</h1>
  <div class="row">
    <div class="col-3 mt-3 card">
      <div class="text-center">
        <h2>Your profile</h2>
        <p>Update your data if needed</p>
      </div>
    <%= simple_form_for @client do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :location %>
    <%= f.input :account_number %>
      <div class="text-center">
        <%= f.button :submit, "Update profile", class: "btn btn-secondary btn-lg", id: "client-btn" %>
      </div>
    <% end %>
    </div>
    <div class="col-9 mt-3">
      <div class="card-category">
        <div class="d-flex align-items-end">
          <%= link_to 'See all mourners available', mourners_path, style: "margin-bottom: 10px;", id: "client-link" %>
        </div>
        <div class="card-background" style="background-image: url('<%= image_path("mourning_ladies.svg") %>')" ></div>
      </div>
      <h1 class="mt-4" id="h2-banner" style="font-size: 35px">Reservation History</h1>
      <div class="card">
​        <% if current_client.prestations.empty? %>
          <div style="text-align: center">
          <img src="https://media.giphy.com/media/3o7buagJzUFQWpb2PC/giphy.gif" style="width: 30%">
          <p>No reservation done yet...</p>
          <%= link_to 'Hire a professional mourner !', mourners_path, class: "btn btn-secondary btn-lg", id: "client-btn" %>
​        <% else %>
          <div class="prestations">
            <p class="text-center">Keep an eye below on the different requests for services made to our mourners...</p>
            <% @prestations.each do |prestation| %>
            <div class="notification mt-3">
              <%= cl_image_tag prestation.mourner.photo, class: "avatar-large" %>
                <div class="notification-content">
                  <p><small><%= prestation.date %></small></p>
                  <p><strong><%= prestation.mourner.first_name %></strong>
                  <strong><%= prestation.mourner.last_name %></strong></p>
                  <p><small><i class="fas fa-map-marker-alt"></i> <%= prestation.location %> | <i class="far fa-envelope"></i> <%= prestation.mourner.email %> | <i class="fas fa-coins"></i> <%= prestation.price %></small></p>
                  <p><%= prestation.mourner.first_name %> looks forward to meeting you in <%= prestation.location %> !</p>
                </div>
                <div class="notification-actions">
                  <%= link_to mourner_prestation_path(prestation.mourner, prestation), method: :delete, :data => {:confirm => "Do you really want to cancel it?"} do %>
                    <i class="fas fa-trash"></i> Cancel
                  <% end %>
                </div>
            </div>
            <% end %>
            <div style="text-align: center">
              <%= link_to "Another funeral coming?", mourners_path, class: "btn btn-secondary btn-lg mt-3", id: "client-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
