<div class="container">
  <h1 class="mt-3 ml-3" id="h2-banner">Your Mourner Dashboard</h1>
  <div class="row">
    <div class="col-3 mt-3 card">
      <div class="text-center">
        <%= cl_image_tag @mourner.photo, class: "avatar-large" %>
        <h2>Your profile</h2>
        <p>Update your data if needed</p>
      </div>
    <%= simple_form_for @mourner do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :location %>
    <%= f.input :account_number %>
    <%= f.input :age %>
    <%= f.input :years_of_expertise %>
    <%= f.input :mourning_intensity %>
    <%= f.input :price_range %>
    <%= f.input :photo %>
      <div class="text-center">
        <%= f.button :submit, "Update profile", class: "btn btn-secondary btn-lg", id: "mourner-btn" %>
      </div>
    <% end %>
    </div>
    <div class="col-9 mt-3">
      <div class="row">
        <div class="flash flash-success alert alert-dismissible fade show" role="alert">
          <span>👋 Welcome back, <strong><%= current_mourner.first_name %></strong> !</span>
          <a data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="card mt-3">
​        <% if current_mourner.prestations.empty? %>
          <div style="text-align: center">
          <img src="https://media.giphy.com/media/348lk5QNAuOGsxndma/giphy.gif" style="width: 30%">
          <p>No reservation done yet...</p> <strong> Go kill someone and start earning money 💰!</strong>
​        <% else %>
          <div class="prestations">
          <% @prestations.each do |prestation| %>
          <p>Find your prestations requests from client(s) below</p>
            <div class = "prestation">
              <div class="mourner_info">
                <%= prestation.mourner.first_name %>
                <%= prestation.mourner.last_name %>
                <%= prestation.mourner.email %>
                <%= prestation.mourner.rating %>
                <%= prestation.mourner.age %>
                <%= prestation.mourner.account_number %>
                <%= prestation.mourner.years_of_expertise %>
                <%= prestation.mourner.mourning_intensity %>
                <%= prestation.mourner.price_range %>
                <%= cl_image_tag prestation.mourner.photo %>
              </div>
              <div class="prestation_info">
                <%= prestation.location %>
                <%= prestation.date %>
                <%= prestation.price %>
                <%= prestation.intensity %>
                <% case prestation.status %>
                <% when 0 %>
                <%= "new request from client, please accept it or cancel it" %>
                <% when 1 %>
                <%= "meet your client at funerals" %>
                <% end %>
              </div>
              <% if prestation.status == 0%>
                <div class="btn btn-secondary">
                  <%= link_to "Cancel", mourner_prestation_path(prestation.mourner, prestation), method: :delete, :data => {:confirm => "You Sure?"} %>
                </div>
                <div class="btn btn-secondary">
                  <%= link_to "Accept the prestation", mourner_prestation_path(prestation.mourner, prestation), method: :patch, :data => {:confirm => "You Sure you want to cry?"} %>
                </div>
              <% else %>
                  You can't cancel the prestation anymore as you accepted it
              <% end %>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
