<h1>My mourner DASHBOARD</h1>

<div>
<p>My personal informations</p>
<%= simple_form_for @mourner do |f| %>
<ul>
<li>
<%= @mourner.first_name  %> Update: <%= f.input :first_name %>
</li>
<li>
<%= @mourner.last_name  %> Update: <%= f.input :last_name %>
</li>
<li>
<%= @mourner.age  %> Update: <%= f.input :age %>
</li>
<li>
<%= @mourner.account_number  %> Update: <%= f.input :account_number %>
</li>
<li>
<%= @mourner.years_of_expertise  %> Update: <%= f.input :years_of_expertise %>
</li>
<li>
<%= @mourner.mourning_intensity  %> Update: <%= f.input :mourning_intensity %>
</li>
<li>
<%= @mourner.price_range  %> Update: <%= f.input :price_range %>
</li>
</ul>
  <%= f.button :submit %>
<% end %>
</div>


<div class="prestations">
<% @mourner.prestations.each do |prestation| %>
  <p>Find your prestations coming from clients below</p>
  <div class = "prestation">
    <div class="client_info">
  <%= prestation.client.first_name %>
  <%= prestation.client.last_name %>
  <%= prestation.client.email %>
  <%= prestation.client.location %>
    </div>
    <div class="prestation_info">
  <%= prestation.location %>
  <%= prestation.date %>
  <%= prestation.price %>
  <%= prestation.intensity %>
    </div>
    <div class="buttons">
      <% case prestation.status %>
      <% when 0 %>
      <%= "pending" %>
      <% when 1 %>
      <%= "done" %>
      <% when 2 %>
      <%= "canceled" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

