<h1>Here are the best mourners ever !</h1>

<%= form_tag mourners_path, method: :get do %>
  <%= label_tag(:location, "Location:") %>
  <%= text_field_tag :location,
    params[:location],
    class: "form-control"
  %>
  <%= label_tag(:price, "Maximum price:") %>
    <%= number_field_tag :price,
    params[:price],
    class: "form-control"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @mourners.each do |mourner|%>
<div class="card">
  <p><%= mourner.first_name %></p>
  <p><%= mourner.last_name %></p>
  <%= cl_image_tag mourner.photo %>
  <p><%= link_to "see profile", mourner_path(mourner)%></p>
</div>
<% end %>

<div
  id="map"
  style="width: 25%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
