<div class="container">
    <div class="row justify-content-center">
      <div class="col-6 mt-5 card p-0">
        <img id="paolooser" src="https://images.unsplash.com/photo-1565074497050-01d0fdab0472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3308&q=80" />
        <%= cl_image_tag @mourner.photo, id:"paolozer", width:"85", class:"rounded-circle alone"%>
        <div class="text-center">
          <div class="container">
            <div class="Background_solo_mourner">
              <div class="card-trip-infos">
                <strong><%= @mourner.first_name %>
                <%= @mourner.last_name %></strong>
              </div>
              <div>
              <div class="container text-left">
                <p>Wanna order a prestation with <strong><%= @mourner.first_name %></strong> ? Fill in the form below:</p>
                <%= simple_form_for [@mourner, @prestation] do |f| %>
                <%= f.input :date, required: true%>
                <%= f.input :location, required: true %>
                <p>Average price of your choosen mourner is: <%= @mourner.price_range %>$ per hour</p>
                <div class="text-center mb-3">
                <%= f.button :submit, class: "btn btn-secondary btn-lg mt-3", id: "client-btn"%>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <%= link_to "Back to mourners list", mourners_path, class: "btn btn-secondary btn-lg", id: "client-btn" %>
  </div>
</div>
