<div class="banner-home-mourner">
  <div class="container">
    <div class="row mb-5">
      <h1 id="h1-banner">Help others move forward in a better way</h1>
      <a href="#signup"><button type="button" class="btn btn-secondary btn-lg mt-4" id="mourner-btn" >Start as a profesional mourner !</button></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-5 mt-20" style="margin-top: -250px">
      <h2 id="h2-banner">Benefits with Easy Coffin as a Mourner</h2>
      <p id="p-txt">Start working for what you love and show everyone that the funerals of a beloved person are important.</p>
      <p><a id="mourner-link" href="#signup"><i class="fas fa-angle-right"></i> Sign up now !</a></p>
    </div>
    <div class="col-7 mt-20" style="margin-top: -325px">
      <div class="row">
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fas fa-user-clock mb-2" style="color: #75d56c; font-size: 20px"></i>
            <p id="text-card-home">Don't waste any more hours looking after clients, they are all here</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fab fa-pagelines mb-2" style="color: #75d56c; font-size: 20px"></i>
            <p id="text-card-home">Give to your clients the serenity to say goodbye in the right conditions</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fas fa-thumbs-up mb-2" style="color: #75d56c; font-size: 20px"></i>
            <p id="text-card-home">Make sure that funerals are properly organized and memorable</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center" id="card-home">
            <i class="fas fa-sad-cry mb-2" style="color: #75d56c; font-size: 20px"></i>
            <p id="text-card-home">Give your clients the choice over your skills</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex flex-row justify-content-center">
    <div class="col-7" style="padding: 20px; margin-top: 30px">
      <div class="slider" id="mourner-slider" data-slick='{"slidesToShow": 2, "slidesToScroll": 1}'>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #75d56c;">Register</h2>
            <p class="slider_text">Give your clients choice on your service</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #75d56c;">Search</h2>
            <p class="slider_text">Give your clients choice on your service</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1483213097419-365e22f0f258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #75d56c;">Choose</h2>
            <p class="slider_text">Give your clients choice on your service</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #75d56c;">Get in Touch</h2>
            <p class="slider_text">Give your clients choice on your service</p>
          </div>
        </div>
        <div>
          <div class="text-center slider_card">
            <img class="img_slider_home" style="display: block;" src="https://images.unsplash.com/photo-1418489614040-ee0ac582072e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            <h2 class="slider_header" style="margin-top: -50px; color: #75d56c;">Enjoy</h2>
            <p class="slider_text">Give your clients choice on your service</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h2 id="h2-banner" style="margin-top: 70px">Using our app is easy as pie</h2>
      <p id="p-txt">The Easy Coffin step-by-step approach allows everyone to better organize the funeral ceremony of their dreams. Our platform puts you in direct contact with reliable service providers to ensure that your event is a great success.</p>
      <p><a id="mourner-link" href="#signup"><i class="fas fa-angle-right"></i> Register now</a></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <h2 id="h2-banner" class="mt-5 mb-5">Who are we ?</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #75d56c">#1</p>
          <p id="count-txt">funeral app</p>
        </div>
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #75d56c">+42,000</p>
          <p id="count-txt">clients</p>
        </div>
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #75d56c">+67,500</p>
          <p id="count-txt">funerals organized</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" id="signup">
  <div class="row mt-10">
    <div class="col-6 offset-3 mt-10">
      <div class="card mt-5">
      <h2 class="mt-2">Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true %>
          <%= f.input :last_name,
                      required: true %>
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>>
          <%= f.file_field :photo %>
          <%= f.hidden_field :photo_cache %>
      </div>

      <div class="form-actions text-center">
          <%= f.button :submit, "Sign up", class: "btn btn-secondary btn-lg", id: "mourner-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
